ul {
  list-style: none;
  padding: 0;
}

.todo-container {
  position: relative;
  background-color: #d3d3d3;
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  width: 200px;
}

.todo-container h2 {
  background-color: #d3d3d3;
  padding-left: 5px;
  margin-bottom: 20px;
  font-size: 19px;
  font-style: italic;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}
.todo-container h2::before {
  content: "▶️";
  font-style: normal;
  margin-right: 10px;
  font-size: 19px;
}

.todo-container li {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #bbb;
}

.todo-container li:last-child {
  border-bottom: none;
}

.todo-container label {
  display: flex;
  align-items: center;
  font-family: "Arial", sans-serif;
  font-size: 14px;
}

.todo-container input[type="checkbox"] {
  margin-right: 15px;
}
