.chatroom-container {
  position: relative; /* 相対位置を設定 */
}

.chatroom-banner {
  position: absolute; /* 絶対位置を設定 */
  top: 0px; /* 上からの距離を設定 */
  left: 25px; /* 左からの距離を設定 */
  width: 50px; /* 必要に応じてサイズを調整 */
  height: auto; /* 高さを自動調整 */
}

.chatroom-title {
  text-align: left;
  font-size: 20px;
  margin-bottom: 10px;
  font-style: italic; /* フォントを斜体にする */
  font-family: "Arial", sans-serif; /* フォントファミリーを設定 */
  font-weight: 0; /* フォントを細くする */
  padding-left: 10px; /* 左余白を追加してバナーとタイトルが重ならないようにする */
}

.chatbox {
  width: 400px; /* 固定の横幅を設定 */
  height: 430px; /* 固定の縦幅を設定 */
  overflow-y: auto; /* 縦方向にスクロール可能にする */
  border: 1.5px solid #000000; /* 境界線の色を黒にする */
  padding-inline: 20px;
  padding-top: 15px;
  border-radius: 30px;
  box-shadow: 0 4px 4px rgba(65, 65, 65, 0.2);
  background-color: #fff;
  margin: 0; /* 画面左固定 */
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.chatbox .todo-message {
  width: 75%;
  min-height: 40px;
  background-color: #ffffff;
  border: 1.5px solid #c60000;
  box-shadow: 2px 3px 4px rgba(213, 55, 55, 0.2);

  margin-top: 8px;
}

.chatbox .event-message {
  width: 75%;
  min-height: 40px;
  background-color: hsl(0, 0%, 100%);
  border: 1.5px solid #1574e1;
  box-shadow: 2px 3px 4px rgba(8, 82, 202, 0.2);
  margin-top: 8px;
}

.chatbox button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 5px 0;
  border: none;
  border-radius: 20px; /* ボタンを丸くする */
  background-color: #f0f0f0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.2s;
  font-family: "Arial", sans-serif; /* フォントファミリーを統一 */
}

.chatbox button:hover {
  background-color: #d1d0d0;
}

.chatbox .sender {
  font-weight: bold;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 450px; /* 固定の横幅を設定 */
  margin: 0; /* 左揃え */
  padding-left: 10px; /* 左余白を追加 */
}

.form-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center; /* アイテムを中央に揃える */
  font-style: italic; /* フォントを斜体にする */
  font-family: "Arial", sans-serif; /* フォントファミリーを設定 */
}

.form-item label {
  flex: 1;
}

.form-item input[type="text"],
.form-item input[type="date"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 0px 0;
  border: 1px solid #9e9e9e;
  border-radius: 15px;
  box-sizing: border-box;
}

.chatbox .my-message {
  background-color: #ffffff;
  padding: 0 10px 0 10px;
}

.chatbox .other-message {
  align-self: flex-start !important;
  padding-right: 10px;
}

.sender-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 6px;
  margin-left: 2px;
  border-color: 1px solid #000000;
  border-radius: 300px;
  background-color: #ebebeb;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  height: 25px;
  min-width: 20px;
}

.parallel {
  display: flex; /* Flexboxを使用して子要素を水平に並べる */
  align-items: center; /* 子要素を垂直方向に中央揃え */
  justify-content: space-between;
  width: 100%;
}

.icon-msg-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-msg-wrapper #message {
  word-break: break-all;
  word-wrap: break-word;
}
