.form-container {
  display: flex;
  align-items: center;
}

.form-item {
  margin-right: 10px; /* アイテム間の間隔を調整 */
}

.form-item label {
  display: flex;
  align-items: center;
}

.form-item input {
  margin-left: 5px; /* ラベルと入力フィールドの間隔を調整 */
}

.chatbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  width: 500px;
  height: 200px;
  overflow-y: auto;
  border: 1px solid #333;
}

.chatbox button{
  text-align: left;
  padding: 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}